px;
  }

  .work-info{
    padding:25px;
  }

  .work-info h3{
    font-size:31px;
  }

  .work-meta{
    font-size:12px;
  }

  .texture{
    height:150px;
  }

  .texture span{
    left:12px;
    bottom:12px;

    font-size:14px;
  }

  .contact-card{
    min-height:105px;

    padding:18px;

    gap:17px;
  }

  .contact-icon{
    width:55px;
    height:55px;

    font-size:25px;
  }

  .contact-card b{
    font-size:25px;
  }

  .contact-card small{
    font-size:13px;
  }
}
