rgba(255,255,255,.28);

  background:rgba(255,255,255,.05);
}

.secondary-button:hover{
  background:rgba(255,255,255,.1);
}

/* =========================
   ПРЕИМУЩЕСТВА
========================= */

.hero-benefits{
  max-width:900px;

  display:grid;

  gap:18px;
}

.hero-benefits div{
  color:#d7dfdc;

  font-size:17px;

  line-height:1.5;
}

.hero-benefits span{
  margin-right:13px;

  color:var(--orange);

  font-size:25px;
}

/* =========================
   БЕЙДЖ СЕЗОНА
========================= */

.season-badge{
  position:absolute;

  z-index:5;

  top:42px;
  right:max(30px,calc((100vw - 1180px)/2));

  min-width:180px;

  padding:16px 24px;

  background:var(--orange);

  color:white;

  border-radius:12px;

  box-shadow:0 15px 30px rgba(0,0,0,.25);
}

.season-badge strong{
  display:block;

  font-family:Oswald,sans-serif;

  font-size:24px;

  letter-spacing:2px;
}

.season-badge span{
  display:block;

  margin-top:2px;

  font-size:12px;

  font-weight:700;

  letter-spacing:1.5px;
}

/* =========================
   ПЛАНШЕТ
========================= */

max-width:850px{

  .top-info{
    gap:20px;

    font-size:12px;
  }

  .main-header{
    height:90px;

    padding:0 24px;
  }

  .logo span{
    font-size:31px;
  }

  .header-button{
    padding:16px 26px;

    font-size:16px;
  }

  .new-hero{
    min-height:auto;
  }

  .hero-inner{
    padding-top:90px;
  }

  .new-hero h1{
    font-size:58px;
  }

  .hero-description{
    font-size:20px;
  }

  .season-badge{
    top:25px;
    right:25px;
  }
}

/* =========================
   ТЕЛЕФОН
========================= */

max-width:600px{

  .top-info{
    min-height:66px;

    gap:10px;

    justify-content:space-around;

    font-size:11px;

    text-align:center;
  }

  .top-info div{
    max-width:32%;
  }

  .main-header{
    height:94px;

    padding:0 25px;
  }

  .logo span{
    font-size:27px;
  }

  .logo small{
    font-size:9px;
  }

  .header-button{
    left:auto;
    right:92px;

    transform:none;

    padding:15px 20px;

    font-size:14px;

    border-radius:17px;
  }

  .header-button:hover{
    transform:translateY(-2px);
  }

  .menu-button{
    width:45px;

    font-size:34px;
  }

  .season-badge{
    top:18px;
    right:auto;
    left:26px;

    min-width:150px;

    padding:12px 18px;
  }

  .season-badge strong{
    font-size:20px;
  }

  .season-badge span{
    font-size:10px;
  }

  .hero-inner{
    padding:
      135px
      26px
      65px;
  }

  .new-hero h1{
    font-size:48px;

    line-height:1.12;
  }

  .hero-description{
    margin:28px 0 38px;

    font-size:18px;

    line-height:1.65;
  }

  .hero-buttons{
    display:grid;

    gap:15px;
  }

  .main-whatsapp,
  .secondary-button{
    width:100%;

    min-height:68px;

    font-size:17px;
  }

  .hero-benefits{
    gap:15px;
  }

  .hero-benefits div{
    font-size:15px;
  }
}
